body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    padding: 10px 100px 100px 100px;
}

.modal {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero, footer {
    background-color: #1f2937;
}

.filler-text, .header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-signup, button {
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex; 
    gap: 15px;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.main-modal, .image-modal {
    width: 450px;
    height: 200px
}

.image-modal {
    background-color: rgb(161, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.sign-up, .sign-up2 {
    width: 120px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    color: white;
}

